In [1]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression
import numpy as np
import pandas as pd

### Options

In [2]:
pd.options.display.max_rows = 999

### Reading the data

In [3]:
data = pd.read_csv('train.csv')

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Analyzing the data

In [5]:
data.describe(include="all")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

### Mapping columns

<h4>Converting sex column to 0-female and 1-male</h4>

In [6]:
data['Sex'] = data['Sex'].map({
    'male': 1,
    'female': 0
})

<h4>Converting Embarked column S-0, C-1, Q-2</h4>

In [7]:
data['Embarked'] = data['Embarked'].map({
    'S': 0,
    'C': 1,
    'Q': 2
})

In [8]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,0.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,1.0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,0.0
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,0.0

### Checking for VIF or variance inflation factor

<h4>Removing unnecessary columns</h4>

In [9]:
columns_for_vif = ['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']

In [10]:
data_to_vif = data[columns_for_vif]

In [11]:
data_to_vif.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500       0.0
1         1       1    0  38.0      1      0  71.2833       1.0
2         1       3    0  26.0      0      0   7.9250       0.0
3         1       1    0  35.0      1      0  53.1000       0.0
4         0       3    1  35.0      0      0   8.0500       0.0

<h4>Removing NaN rows from data to vif</h4>

In [12]:
data_to_vif.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [13]:
data_to_vif = data_to_vif.dropna()

In [14]:
data_to_vif.shape

(712, 8)

<h4>Variance Inflation Factor Algorithm</h4>

In [15]:
vif_list = []
number_of_columns_vif = data_to_vif.shape[1]

In [16]:
for i in range(number_of_columns_vif):
    vif_list.append(variance_inflation_factor(data_to_vif.values, i))

<h4>Creating a DataFrame table to see clearly</h4>

In [17]:
df_vif = pd.DataFrame({
    'Features': data_to_vif.columns.tolist(),
    'Vif': vif_list
})

In [18]:
df_vif.sort_values('Vif', ascending=False)

   Features       Vif
1    Pclass  4.910167
3       Age  3.996610
2       Sex  3.514574
0  Survived  1.956778
6      Fare  1.945074
4     SibSp  1.623379
5     Parch  1.617232
7  Embarked  1.298661

### Building Linear Regression

<h4>Defining inputs and output</h4>

In [19]:
inputs = ['Pclass', 'Age', 'Sex', 'Fare', 'SibSp', 'Parch', 'Embarked']
output = 'Survived'

<h4>Defining x, y</h4>

In [20]:
data_regression = data_to_vif

In [21]:
x = data_regression[inputs]
y = data_regression[output]

<h4>Building a linear regression</h4>

In [22]:
reg = LinearRegression()
reg.fit(x, y)

LinearRegression()

<h4>Gaining the datas, coefficients, r-square, intercept</h4>

In [23]:
coefs = reg.coef_
r = reg.score(x, y)
intercept = reg.intercept_

<h4>Calculating adjusted R-squared</h4>

In [24]:
n = data_regression.shape[0]
p = data_regression.shape[1]

In [25]:
adjR = 1-(1-r)*(n-1)/(n-p-1)

<h4>Creating a DataFrame for the information that we gained</h4>

In [26]:
df_summary = pd.DataFrame({
    'Features': ['Pclass', 'Age', 'Sex', 'Fare', 'SibSp', 'Parch', 'Embarked', 'Intercept', 'R-square', 'Adjusted-R'],
    'Constants': [coefs[0], coefs[1], coefs[2], coefs[3], coefs[4], coefs[5], coefs[6], intercept, r, adjR]
})

In [27]:
df_summary

     Features  Constants
0      Pclass  -0.193754
1         Age  -0.006563
2         Sex  -0.485292
3        Fare   0.000265
4       SibSp  -0.053269
5       Parch  -0.010863
6    Embarked   0.022538
7   Intercept   1.358857
8    R-square   0.398956
9  Adjusted-R   0.392116

<h4>Our mathematical model</h4>

$y = 1.358857 -0.193754(Pclass) - 0.006563(Age) - 0.485292(Sex) + 0.000265(Fare) - 0.053269(SibSp) - 0.010863(Parch) + 0.022538(Embarked)$

### Predicting the data

<h4>Loading testing data</h4>

In [28]:
raw_test_data = pd.read_csv('test.csv')

<h4>Preparing the data</h4>

In [29]:
test_data = raw_test_data[inputs]

In [30]:
test_data.head()

   Pclass   Age     Sex     Fare  SibSp  Parch Embarked
0       3  34.5    male   7.8292      0      0        Q
1       3  47.0  female   7.0000      1      0        S
2       2  62.0    male   9.6875      0      0        Q
3       3  27.0    male   8.6625      0      0        S
4       3  22.0  female  12.2875      1      1        S

In [31]:
test_data['Embarked'] = test_data['Embarked'].map({
    'S': 0,
    'C': 1,
    'Q': 2
})

test_data['Sex'] = test_data['Sex'].map({
    'male': 1,
    'female': 0
})

test_data = test_data.dropna()

C:\Users\Sarvar\AppData\Local\Temp\ipykernel_30308\1677983346.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['Embarked'] = test_data['Embarked'].map({
C:\Users\Sarvar\AppData\Local\Temp\ipykernel_30308\1677983346.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['Sex'] = test_data['Sex'].map({

<h4>Predicting the data</h4>

In [32]:
predictions = reg.predict(test_data)
predictions = predictions.round()

In [33]:
test_data['Survived (Prediction)'] = predictions

In [34]:
test_data

,Pclass,Age,Sex,Fare,SibSp,Parch,Embarked,Survived (Prediction)
0,3,34.50,1,7.8292,0,0,2,0.0
1,3,47.00,0,7.0000,1,0,0,0.0
2,2,62.00,1,9.6875,0,0,2,0.0
3,3,27.00,1,8.6625,0,0,0,0.0
4,3,22.00,0,12.2875,1,1,0,1.0
5,3,14.00,1,9.2250,0,0,0,0.0
6,3,30.00,0,7.6292,0,0,2,1.0
7,2,26.00,1,29.0000,1,1,0,0.0
8,3,18.00,0,7.2292,0,0,1,1.0
9,3,21.00,1,24.1500,2,0,0,0.0
11,1,46.00,1,26.0000,0,0,0,0.0
12,1,23.00,0,82.2667,1,0,0,1.0
13,2,63.00,1,26.0000,1,0,0,0.0
14,1,47.00,0,61.1750,1,0,0,1.0
15,2,24.00,0,27.7208,1,0,1,1.0
16,2,35.00,1,12.3500,0,0,2,0.0
17,3,21.00,1,7.2250,0,0,1,0.0
18,3,27.00,0,7.9250,1,0,0,1.0
19,3,45.00,0,7.2250,0,0,1,1.0
20,1,55.00,1,59.4000,1,0,1,0.0
21,3,9.00,1,3.1708,0,1,0,0.0
23,1,21.00,1,61.3792,0,1,1,1.0
24,1,48.00,0,262.3750,1,3,1,1.0
25,3,50.00,1,14.5000,1,0,0,-0.0
26,1,22.00,0,61.9792,0,1,1,1.0
27,3,22.50,1,7.2250,0,0,1,0.0
28,1,41.00,1,30.5000,0,0,0,0.0
30,2,50.00,1,26.0000,1,0,0,0.0
31,2,24.00,1,31.5000,2,0,0,0.0
32,3,33.00,0,20.5750,1,2,0,0.0
34,1,30.00,1,57.7500,1,0,1,0.0
35,3,18.50,1,7.2292,0,0,1,0.0
37,3,21.00,0,8.6625,0,0,0,1.0
38,3,25.00,1,9.5000,0,0,0,0.0
40,3,39.00,1,13.4167,0,1,1,0.0
42,3,41.00,1,7.8500,0,0,0,0.0
43,2,30.00,0,13.0000,0,0,0,1.0
44,1,45.00,0,52.5542,1,0,0,1.0
45,3,25.00,1,7.9250,0,0,0,0.0
46,1,45.00,1,29.7000,0,0,1,0.0
48,1,60.00,0,76.2917,0,0,1,1.0
49,3,36.00,0,15.9000,0,2,0,1.0
50,1,24.00,1,60.0000,1,0,0,0.0
51,2,27.00,1,15.0333,0,0,1,0.0
52,2,20.00,0,23.0000,2,1,0,1.0
53,1,28.00,0,263.0000,3,2,0,1.0
55,3,10.00,1,29.1250,4,1,2,0.0
56,3,35.00,1,7.8958,0,0,0,0.0
57,3,25.00,1,7.6500,0,0,0,0.0
59,1,36.00,0,262.3750,0,0,1,1.0
60,3,17.00,1,7.8958,0,0,0,0.0
61,2,32.00,1,13.5000,0,0,0,0.0
62,3,18.00,1,7.7500,0,0,0,0.0
63,3,22.00,0,7.7250,0,0,2,1.0
64,1,13.00,1,262.3750,2,2,1,1.0
66,3,18.00,0,7.8792,0,0,2,1.0
67,1,47.00,1,42.4000,0,0,0,0.0
68,1,31.00,1,28.5375,0,0,1,1.0
69,1,60.00,0,263.0000,1,4,0,1.0
70,3,24.00,0,7.7500,0,0,2,1.0
71,3,21.00,1,7.8958,0,0,0,0.0
72,3,29.00,0,7.9250,0,0,0,1.0
73,1,28.50,1,27.7208,0,0,1,1.0
74,1,35.00,0,211.5000,0,0,1,1.0
75,1,32.50,1,211.5000,0,0,1,1.0
77,1,55.00,0,25.7000,2,0,0,1.0
78,2,30.00,1,13.0000,0,0,0,0.0
79,3,24.00,0,7.7500,0,0,2,1.0
80,3,6.00,1,15.2458,1,1,1,0.0
81,1,67.00,1,221.7792,1,0,0,0.0
82,1,49.00,1,26.0000,0,0,0,0.0
86,3,27.00,0,7.8792,0,0,2,1.0
87,3,18.00,0,8.0500,0,0,0,1.0
89,2,2.00,1,23.0000,1,1,0,0.0
90,3,22.00,0,13.9000,1,0,0,1.0
92,1,27.00,0,52.0000,1,2,0,1.0
94,1,25.00,1,26.0000,0,0,1,1.0
95,3,25.00,1,7.7958,0,0,0,0.0
96,1,76.00,0,78.8500,1,0,0,1.0
97,3,29.00,1,7.9250,0,0,0,0.0
98,3,20.00,0,7.8542,0,0,0,1.0
99,3,33.00,1,8.0500,0,0,0,0.0
100,1,43.00,0,55.4417,1,0,1,1.0
101,2,27.00,1,26.0000,1,0,0,0.0
103,3,26.00,1,7.7750,0,0,0,0.0
104,3,16.00,0,8.5167,1,1,1,1.0
105,3,28.00,1,22.5250,0,0,0,0.0
106,3,21.00,1,7.8208,0,0,2,0.0
109,2,18.50,1,13.0000,0,0,0,0.0
110,2,41.00,1,15.0458,0,0,1,0.0
112,1,36.00,0,31.6792,0,0,1,1.0
113,3,18.50,0,7.2833,0,0,2,1.0
114,1,63.00,0,221.7792,1,0,0,1.0
115,3,18.00,1,14.4542,1,0,1,0.0
117,3,1.00,0,16.7000,1,1,0,1.0
118,1,36.00,1,75.2417,0,0,1,0.0
119,2,29.00,0,26.0000,1,0,0,1.0
120,2,12.00,0,15.7500,0,0,0,1.0
122,1,35.00,0,57.7500,1,0,1,1.0
123,3,28.00,1,7.2500,0,0,0,0.0
125,3,17.00,0,16.1000,0,1,0,1.0
126,3,22.00,1,7.7958,0,0,0,0.0
128,2,42.00,1,13.0000,0,0,0,0.0
129,3,24.00,1,8.0500,0,0,0,0.0
130,3,32.00,1,8.0500,0,0,0,0.0
131,1,53.00,1,28.5000,0,0,1,0.0
134,3,43.00,1,7.8958,0,0,0,0.0
135,3,24.00,1,7.8542,0,0,0,0.0
136,3,26.50,1,7.2250,0,0,1,0.0
137,2,26.00,1,13.0000,0,0,0,0.0
138,3,23.00,0,8.0500,0,0,0,1.0
139,3,40.00,1,46.9000,1,6,0,-0.0
140,3,10.00,0,46.9000,5,2,0,0.0
141,1,33.00,0,151.5500,0,0,0,1.0
142,1,61.00,1,262.3750,1,3,1,0.0
143,2,28.00,1,26.0000,0,0,0,0.0
144,1,42.00,1,26.5500,0,0,0,0.0
145,3,31.00,1,18.0000,3,0,0,-0.0
147,3,22.00,1,8.0500,0,0,0,0.0
149,2,30.00,1,26.0000,1,1,0,0.0
150,1,23.00,0,83.1583,0,1,1,1.0
153,3,36.00,0,12.1833,0,2,0,1.0
154,3,13.00,1,31.3875,4,2,0,-0.0
155,3,24.00,1,7.5500,0,0,0,0.0
156,1,29.00,0,221.7792,0,0,0,1.0
157,3,23.00,0,7.8542,0,0,0,1.0
158,1,42.00,1,26.5500,0,0,0,0.0
159,3,26.00,0,13.7750,0,2,0,1.0
161,3,7.00,1,15.2458,1,1,1,0.0
162,2,26.00,0,13.5000,0,0,0,1.0
164,2,41.00,1,13.0000,0,0,0,0.0
165,3,26.00,0,22.0250,1,1,0,1.0
166,1,48.00,1,50.4958,0,0,1,0.0
167,3,18.00,1,34.3750,2,2,0,0.0
169,3,22.00,0,8.9625,0,0,0,1.0
171,3,27.00,1,7.2250,0,0,1,0.0
172,3,23.00,1,13.9000,1,0,0,0.0
174,3,40.00,1,31.3875,1,5,0,-0.0
175,2,15.00,0,39.0000,0,2,0,1.0
176,2,20.00,0,36.7500,0,0,0,1.0
177,1,54.00,1,55.4417,1,0,1,0.0
178,2,36.00,0,39.0000,0,3,0,1.0
179,1,64.00,0,83.1583,0,2,1,1.0
180,2,30.00,1,13.0000,0,0,0,0.0
181,1,37.00,1,83.1583,1,1,1,0.0
182,1,18.00,0,53.1000,1,0,0,1.0
184,1,27.00,0,247.5208,1,1,1,1.0
185,2,40.00,1,16.0000,0,0,0,0.0
186,2,21.00,0,21.0000,0,1,0,1.0
187,3,17.00,1,8.0500,2,0,0,0.0
189,2,40.00,1,13.0000,0,0,0,0.0
190,2,34.00,1,26.0000,1,0,0,0.0
192,3,11.50,1,14.5000,1,1,0,0.0
193,2,61.00,1,12.3500,0,0,2,0.0
194,2,8.00,1,32.5000,0,2,0,0.0
195,3,33.00,1,7.8542,0,0,0,0.0
196,1,6.00,1,134.5000,0,2,1,1.0
197,3,18.00,0,7.7750,0,0,0,1.0
198,2,23.00,1,10.5000,0,0,0,0.0
201,3,0.33,1,14.4000,0,2,0,0.0
202,1,47.00,1,227.5250,1,0,1,0.0
203,2,8.00,0,26.0000,1,1,0,1.0
204,2,25.00,1,10.5000,0,0,0,0.0
206,3,35.00,0,7.7500,0,0,2,1.0
207,2,24.00,1,10.5000,0,0,0,0.0
208,1,33.00,0,27.7208,0,0,1,1.0
209,3,25.00,1,7.8958,0,0,0,0.0
210,3,32.00,1,22.5250,0,0,0,0.0
212,2,17.00,1,73.5000,0,0,0,0.0
213,2,60.00,0,26.0000,1,0,0,1.0
214,3,38.00,0,7.7750,4,2,0,0.0
215,1,42.00,1,42.5000,0,0,0,0.0
217,1,57.00,1,164.8667,1,1,0,0.0
218,1,50.00,0,211.5000,1,1,1,1.0
220,2,30.00,0,13.8583,1,0,1,1.0
221,3,21.00,1,8.0500,0,0,0,0.0
222,2,22.00,0,10.5000,0,0,0,1.0
223,3,21.00,1,7.7958,0,0,0,0.0
224,1,53.00,0,27.4458,0,0,1,1.0
226,3,23.00,1,7.7958,0,0,0,0.0
228,3,40.50,1,15.1000,0,0,0,0.0
229,2,36.00,1,13.0000,0,0,0,0.0
230,2,14.00,1,65.0000,0,0,0,0.0
231,1,21.00,0,26.5500,0,0,0,1.0
232,3,21.00,1,6.4958,1,0,0,0.0
234,1,39.00,1,71.2833,1,0,1,0.0
235,3,20.00,1,7.8542,0,0,0,0.0
236,1,64.00,1,75.2500,1,0,1,0.0
237,3,20.00,1,7.2250,0,0,1,0.0
238,2,18.00,0,13.0000,1,1,0,1.0
239,1,48.00,0,106.4250,1,0,1,1.0
240,1,55.00,0,27.7208,0,0,1,1.0
241,2,45.00,0,30.0000,0,2,0,1.0
242,1,45.00,1,134.5000,1,1,1,0.0
245,1,41.00,1,51.8625,1,0,0,0.0
246,2,22.00,0,21.0000,0,0,0,1.0
247,2,42.00,1,32.5000,1,1,0,0.0
248,2,29.00,0,26.0000,1,0,0,1.0
250,2,0.92,0,27.7500,1,2,0,1.0
251,3,20.00,1,7.9250,0,0,0,0.0
252,1,27.00,1,136.7792,1,0,1,1.0
253,3,24.00,1,9.3250,0,0,0,0.0
254,3,32.50,1,9.5000,0,0,0,0.0
257,3,28.00,1,8.0500,0,0,0,0.0
258,2,19.00,0,13.0000,0,0,0,1.0
259,3,21.00,1,7.7750,0,0,0,0.0
260,3,36.50,1,17.4000,1,0,0,0.0
261,3,21.00,1,7.8542,0,0,0,0.0
262,2,29.00,0,23.0000,0,2,0,1.0
263,3,1.00,0,12.1833,1,1,0,1.0
264,2,30.00,1,12.7375,0,0,1,0.0
269,3,17.00,1,8.6625,0,0,0,0.0
270,1,46.00,1,75.2417,0,0,1,0.0
272,1,26.00,0,136.7792,1,0,1,1.0
275,2,20.00,0,26.0000,1,0,0,1.0
276,2,28.00,1,10.5000,0,0,0,0.0
277,2,40.00,1,26.0000,1,0,0,0.0
278,2,30.00,1,21.0000,1,0,0,0.0
279,2,22.00,1,10.5000,0,0,0,0.0
280,3,23.00,0,8.6625,0,0,0,1.0
281,3,0.75,1,13.7750,1,1,0,0.0
283,3,9.00,0,15.2458,1,1,1,1.0
284,3,2.00,0,20.2125,1,1,0,1.0
285,3,36.00,1,7.2500,0,0,0,0.0
287,1,24.00,1,82.2667,1,0,0,0.0
291,3,30.00,0,6.9500,0,0,2,1.0
293,1,53.00,1,81.8583,1,1,0,0.0
294,3,36.00,1,9.5000,0,0,0,0.0
295,3,26.00,1,7.8958,0,0,0,0.0
296,2,1.00,0,41.5792,1,2,1,1.0
298,1,30.00,1,45.5000,0,0,0,0.0
299,3,29.00,1,7.8542,0,0,0,0.0
300,3,32.00,1,7.7750,0,0,0,0.0
302,2,43.00,1,21.0000,0,1,0,0.0
303,3,24.00,1,8.6625,0,0,0,0.0
305,1,64.00,0,26.5500,1,1,0,1.0
306,1,30.00,1,151.5500,1,2,0,0.0
307,3,0.83,1,9.3500,0,1,0,0.0
308,1,55.00,1,93.5000,1,1,0,0.0
309,3,45.00,0,14.1083,1,0,0,0.0
310,3,18.00,1,8.6625,0,0,0,0.0
311,3,22.00,1,7.2250,0,0,1,0.0
313,3,37.00,0,7.7500,0,0,2,1.0
314,1,55.00,0,135.6333,0,0,1,1.0
315,3,17.00,0,7.7333,0,0,2,1.0
316,1,57.00,1,146.5208,1,0,1,0.0
317,2,19.00,1,10.5000,0,0,0,0.0
318,3,27.00,1,7.8542,0,0,0,0.0
319,2,22.00,1,31.5000,2,0,0,0.0
320,3,26.00,1,7.7750,0,0,0,0.0
321,3,25.00,1,7.2292,0,0,1,0.0
322,2,26.00,1,13.0000,0,0,0,0.0
323,1,33.00,1,26.5500,0,0,0,0.0
324,1,39.00,0,211.3375,0,0,0,1.0
325,3,23.00,1,7.0500,0,0,0,0.0
326,2,12.00,0,39.0000,2,1,0,1.0
327,1,46.00,1,79.2000,0,0,1,0.0
328,2,29.00,1,26.0000,1,0,0,0.0
329,2,21.00,1,13.0000,0,0,0,0.0
330,2,48.00,0,36.7500,0,2,0,1.0
331,1,39.00,1,29.7000,0,0,1,0.0
333,3,19.00,0,15.7417,1,1,1,1.0
334,3,27.00,1,7.8958,0,0,0,0.0
335,1,30.00,1,26.0000,0,0,0,0.0
336,2,32.00,1,13.0000,0,0,0,0.0
337,3,39.00,1,7.2292,0,2,1,0.0
338,2,25.00,1,31.5000,0,0,0,0.0
340,2,18.00,1,10.5000,0,0,0,0.0
341,3,32.00,1,7.5792,0,0,0,0.0
343,1,58.00,0,512.3292,0,1,1,1.0
345,3,16.00,0,7.6500,0,0,0,1.0
346,2,26.00,1,13.0000,0,0,0,0.0
347,3,38.00,0,7.2292,0,0,1,1.0
348,2,24.00,1,13.5000,0,0,0,0.0
349,2,31.00,0,21.0000,0,0,0,1.0
350,1,45.00,0,63.3583,0,1,1,1.0
351,2,25.00,1,10.5000,0,0,0,0.0
352,2,18.00,1,73.5000,0,0,0,0.0
353,2,49.00,1,65.0000,1,2,0,0.0
354,3,0.17,0,20.5750,1,2,0,1.0
355,1,50.00,1,26.0000,0,0,0,0.0
356,1,59.00,0,51.4792,2,0,0,1.0
359,3,30.00,0,15.5500,1,0,0,1.0
360,3,14.50,1,69.5500,8,2,0,-0.0
361,2,24.00,0,37.0042,1,1,1,1.0
362,2,31.00,0,21.0000,0,0,0,1.0
363,3,27.00,1,8.6625,0,0,0,0.0
364,1,25.00,0,55.4417,1,0,1,1.0
367,3,22.00,0,39.6875,0,0,0,1.0
368,1,45.00,0,59.4000,0,1,1,1.0
369,2,29.00,1,13.8583,0,0,1,0.0
370,2,21.00,1,11.5000,1,0,0,0.0
371,1,31.00,0,134.5000,0,0,1,1.0
372,1,49.00,1,0.0000,0,0,0,0.0
373,2,44.00,1,13.0000,0,0,0,0.0
374,1,54.00,0,81.8583,1,1,0,1.0
375,1,45.00,0,262.3750,0,0,1,1.0
376,3,22.00,0,8.6625,2,0,0,1.0
377,2,21.00,1,11.5000,0,0,0,0.0
378,1,55.00,1,50.0000,0,0,0,0.0
379,3,5.00,1,31.3875,4,2,0,0.0
381,3,26.00,1,7.8792,0,0,2,0.0
383,3,19.00,0,16.1000,1,0,0,1.0
385,2,24.00,0,65.0000,1,2,0,1.0
386,3,24.00,1,7.7750,0,0,0,0.0
387,2,57.00,1,13.0000,0,0,0,0.0
388,3,21.00,1,7.7500,0,0,2,0.0
389,3,6.00,1,21.0750,3,1,0,0.0
390,1,23.00,1,93.5000,0,0,0,1.0
391,1,51.00,0,39.4000,0,1,0,1.0
392,3,13.00,1,20.2500,0,2,0,0.0
393,2,47.00,1,10.5000,0,0,0,0.0
394,3,29.00,1,22.0250,3,1,0,-0.0
395,1,18.00,0,60.0000,1,0,0,1.0
396,3,24.00,1,7.2500,0,0,2,0.0
397,1,48.00,0,79.2000,1,1,1,1.0
398,3,22.00,1,7.7750,0,0,0,0.0
399,3,31.00,1,7.7333,0,0,2,0.0
400,1,30.00,0,164.8667,0,0,0,1.0
401,2,38.00,1,21.0000,1,0,0,0.0
402,1,22.00,0,59.4000,0,1,1,1.0
403,1,17.00,1,47.1000,0,0,0,1.0
404,1,43.00,1,27.7208,1,0,1,0.0
405,2,20.00,1,13.8625,0,0,1,0.0
406,2,23.00,1,10.5000,1,0,0,0.0
407,1,50.00,1,211.5000,1,1,1,0.0
409,3,3.00,0,13.7750,1,1,0,1.0
411,1,37.00,0,90.0000,1,0,2,1.0
412,3,28.00,0,7.7750,0,0,0,1.0
414,1,39.00,0,108.9000,0,0,1,1.0
415,3,38.50,1,7.2500,0,0,0,0.0